asgiref==3.3.4
Django==3.1.7
Pillow==8.2.0
psycopg2==2.8.6
psycopg2-binary==2.8.6
pytz==2021.1
sqlparse==0.4.1
django-embed-video==1.4.0
youtube-transcript-api==0.4.1
django-crispy-forms==1.11.2
youtube-dl==2021.4.17
django-bootstrap-datepicker-plus==3.0.5
tensorflow
tensorflow-hub==0.12.0
celery==5.0.5
djangorestframework==3.12.4
nltk==3.6.2
FRAKE-extractor==1.0.1
PyDictionary==2.0.1