<!DOCTYPE html>
{% extends "layout/base.html" %}
{% block body_block %}
<body class=" home " id="register" >
        <div class="row p-4 h-auto">
            <div class="col ">
                <div class="card">
                    <div class="card-header bg-dark text-white">
                        <h4>Register</h4>
                    </div>
                    <div class="card-body">
                        <!-- Alerts -->
{#                        {% include 'partials/_alerts.html' %}#}
                        <form action="{% url 'accounts:register' %}" method="POST">
                            {% csrf_token %}
                            <div class="row">
                            <div class="col-sm-6">
                            <div class="form-group">
                                <label for="first_name">First Name</label>
                                <input type="text" name="first_name" class="form-control" required>
                            </div>
                            </div>
                            <div class="col-sm-6">
                            <div class="form-group">
                                <label for="last_name">Last Name</label>
                                <input type="text" name="last_name" class="form-control " required>
                            </div>
                            </div>
                                </div>
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input type="text" name="username" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" name="email" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="password2">Password</label>
                                <input type="password" name="password" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="password">Confirm Password</label>
                                <input type="password" name="password2" class="form-control" required>
                            </div>
                            <input type="submit" value="Register" class="btn btn-primary btn-block">
                        </form>
                    </div>
                </div>
            </div>
        </div>
</body>
{% endblock %}
