<!doctype html>
{% extends "layout/base.html" %}
{% load embed_video_tags %}
{% load custom_tags %}
{% load static %}
{% block body_block %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <div class="container-fluid home ">
        <div class="container bg-white p-3 video-page">
            <div class="container-fluid row justify-content-center p-3">
                <div id="youtube-tracking-script"></div>
                <div class="container col-md-6 bg-light border rounded p-3" id="video-page-div">
                    <div class="video-responsive">
                        {% video obj.video %}
                    </div>
                    <span class="badge bg-secondary text-light">{{ obj.duration|time:'H:i:s' }}</span>
                </div>

                <div class="container col-md-6 table-responsive">
                    <table class="table bg-light border rounded table-tags">
                        <thead>
                        <tr>
                            {% if show_all_tags == True %}
                                <td colspan="50%" class="topnav active" id="allTags">
                                    All tags
                                </td>
                                <td colspan="50%" class="topnav" id="myTags">
                                    My tags
                                </td>
                            {% else %}
                                <td colspan="50%" class="topnav" id="allTags">
                                    All tags
                                </td>
                                <td colspan="50%" class="topnav active" id="myTags">
                                    My tags
                                </td>
                            {% endif %}

                        </tr>

                        </thead>
                        {% if show_all_tags == True %}
                            <tbody id="allTagBody" class="active">
                            {% else %}
                            <tbody id="allTagBody" class="inactive">
                        {% endif %}
                        {% for tag in tags %}
                            <tr class="outer-row" id="row-{{ forloop.counter0 }}">
                                <td colspan="100%">
                                    <table class="table rounded" class="inner-table">
                                        <tbody>

                                        <tr class="inner-row">
                                            <td scope="col" class="clickable inner-td set-time-click"
                                                colspan="70%">{{ tag.start | get_duration }}</td>
                                            <td scope="col" colspan="10%" class="inner-td">
                                            </td>
                                            <td scope="col" colspan="10%" class="inner-td">
                                                <div onclick="sendCommentsRequest({{ tag.id }})">
                                                    <i class="far fa-comments"></i>
                                                    </a>
                                                </div>
                                            </td>
                                            <td scope="col" colspan="10%" class="inner-td">
                                                {% if tag.creator.id == user.id %}
                                                    <div class="clickable delete-tag" onclick="deleteTag({{ tag.id }})">
                                                        <i class="bi bi-trash"></i>
                                                        </a>

                                                    </div>
                                                {% endif %}
                                            </td>
                                        </tr>
                                        <tr class="inner-row">
                                            <td class="inner-td td description" scope="col"
                                                colspan="100%">{{ tag.description }}</td>
                                        </tr>
                                        </tbody>
                                        <tfoot>
                                        <tr class="vote-bar inner-row">
                                            <td class="inner-td td" scope="col" colspan="70%">Posted
                                                by : {{ tag.creator }}</td>

                                            <td scope="col" colspan="10%" class="inner-td">
                                                {% if tag.creator.id != user.id %}
                                                    {% if ratings_for_user|index:forloop.counter0|equal:"True" %}
                                                        <div class="clickable"
                                                             onclick="sendVoteRequest({{ tag.id }}, true,
                                                                     {{ forloop.counter0 }})">
                                                            <i class="fa fa-thumbs-up active"></i>
                                                        </div>

                                                    {% else %}
                                                        <div class="clickable"
                                                             onclick="sendVoteRequest({{ tag.id }}, true,
                                                                     {{ forloop.counter0 }})">
                                                            <i class="fa fa-thumbs-up"></i>
                                                        </div>
                                                    {% endif %}
                                                {% endif %}
                                            </td>
                                            <td scope="col" colspan="10%" class="inner-td">
                                                {% if tag.creator.id != user.id %}
                                                    {% if ratings_for_user|index:forloop.counter0|equal:"False" %}
                                                        <div class="clickable"
                                                             onclick="sendVoteRequest({{ tag.id }}, false,
                                                                     {{ forloop.counter0 }})">
                                                            <i class="fa fa-thumbs-down active"></i>
                                                        </div>
                                                    {% else %}
                                                        <div class="clickable"
                                                             onclick="sendVoteRequest({{ tag.id }}, false,
                                                                     {{ forloop.counter0 }})">
                                                            <i class="fa fa-thumbs-down"></i>
                                                        </div>
                                                    {% endif %}
                                                {% endif %}


                                            </td>
                                            <td scope="col" colspan="10%"
                                                class="inner-td counter"> {{ tag.rating_value }}</td>
                                        </tr>
                                        <tr class="inner-row">


                                        </tr>
                                        </tfoot>
                                    </table>
                                </td>
                            </tr>

                        {% endfor %}


                        </tbody>

                        {% if show_all_tags == True %}
                            <tbody id="myTagBody" class="inactive">
                            {% else %}
                            <tbody id="myTagBody" class="active">
                        {% endif %}

                        {% for tag in user_tags %}
                            <tr class="outer-row" id="row-{{ forloop.counter0 }}">
                                <td colspan="100%">
                                    <table class="table rounded" class="inner-table">
                                        <tbody>

                                        <tr class="inner-row">
                                            <td scope="col" class="clickable inner-td set-time-click"
                                                colspan="70%">{{ tag.start | get_duration }}</td>
                                            <td scope="col" colspan="10%" class="inner-td">
                                            </td>
                                            <td scope="col" colspan="10%" class="inner-td">
                                                <i class="far fa-comments"></i>
                                            </td>
                                            <td scope="col" colspan="10%" class="inner-td">
                                                {% if tag.creator.id == user.id %}
                                                    <div class="clickable delete-tag" onclick="deleteTag({{ tag.id }})">
                                                        <i class="bi bi-trash"></i>
                                                        </a>

                                                    </div>
                                                {% endif %}
                                            </td>


                                        </tr>
                                        <tr class="inner-row">
                                            <td class="inner-td td description" scope="col"
                                                colspan="100%">{{ tag.description }}</td>
                                        </tr>
                                        </tbody>
                                        <tfoot>
                                        <tr class="vote-bar inner-row">
                                            <td class="inner-td td" scope="col" colspan="70%">Posted
                                                by : {{ tag.creator }}</td>

                                            <td scope="col" colspan="10%" class="inner-td">
                                            </td>
                                            <td scope="col" colspan="10%" class="inner-td">
                                            </td>
                                            <td scope="col" colspan="10%"
                                                class="inner-td counter"> {{ tag.rating_value }}</td>
                                        </tr>
                                        <tr class="inner-row">
                                        </tr>
                                        </tfoot>
                                    </table>
                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>


            </div>

            <div class="container-fluid row justify-content-center p-3">
                <div class="container col-md-5">
                    <div>
                        <div class="container-fluid p-2 comments table-responsive" id="comments">
                            <table class="table bg-light border rounded" id="comments_table" >
                            </table>
                            <div class="container p-2 bg-light border rounded" id="no-comments"></div>
                        </div>
                    </div>
                    <div class="parent">
                        <div class="container p-2 border rounded bg-light display-none" id="add-comments">
                             <form name="form-comments" action="{% url 'videos:create_comment' %}" method="POST" id="form-comments">
                                 {% csrf_token %}
                                 <div class="form-group">
                                     <label for="body"><h4>Add new comment:</h4></label>
                                     <input type="text" name="body" class="form-control" required>
                                 </div>
                                 <input type="submit" value="Create comment" class="btn btn-primary">
                             </form>
                        </div>
                    </div>
                </div>
                {% if user.is_authenticated %}
                    <div class="container col-md-5 border rounded bg-light h-50" id="Add-tag">
                    <div class="col-auto p-2 tag-form">
                        <h4>Add new tag: </h4>
                        {% load crispy_forms_filters %}
                        {% load crispy_forms_tags %}
                        {% block content %}
                            <form action="." method="post">
                                {% csrf_token %}
                                <div class="form-row">
                                    <div class="form-group col-md-6 mb-0">
                                        {{ form.start|as_crispy_field }}
                                    </div>
                                    <div class="form-group col-md-6 mb-0">
                                        {{ form.end|as_crispy_field }}
                                    </div>
                                </div>
                                {{ form.description|as_crispy_field }}
                                <button type="submit" class="btn btn-primary" , name="save">Create Tag</button>
                            </form>
                        {% endblock %}
                    </div>
                {% else %}
                    <h1>Must be logged in to create a tagging</h1>
                {% endif %}
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/bootbox/4.4.0/bootbox.min.js"></script>
    <link rel="stylesheet" href="{% static "css/video.css" %}">
    <link rel="stylesheet" href="{% static "css/videos.css" %}">
    <script>var video_pk = {{ obj.id }}</script>
    <script src="{% static 'js/controlVideo.js' %}"></script>
    <script src="{% static 'js/tagControl.js' %}"></script>
    <script src="{% static 'js/commentControl.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}


