body {
    padding-top: 65px;
    height: 100%;
    margin: 0;

}

.home {
    background-image: url("../images/cool-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    display: flex;
    height: 100%;
}

html {
    font-size: large;
    line-height: normal;
}

#logo {
    width: 130px;
    height: auto;
}

#login {
    padding-bottom: 5px;
}

.btn {
    font-size: medium;
}

div:empty{
    display:none;
}
.navbar-form {
    padding-left: 50px;
    height: 10px;
}

.nav-item {
    font-size: large;
}

#heading-home {
    font-family: Georgia, Serif;
    padding-top: 70px;
}

.button-view {
    font-size: 15px;
}

