body {
    padding-top: 65px;
    height: 100%;
    margin: 0;

}

.home {
    background-image: url("../images/cool-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    display: flex;
    height: 100%;
}

.video-page {
    max-width: 90%
}

html {
    font-size: large;
    line-height: normal;
}

#logo {
    width: 130px;
    height: auto;
}

#login {
    padding-bottom: 5px;
}

.navbar-form {
    padding-left: 50px;
    height: 10px;
}

.nav-item {
    font-size: large;
}

#video-column {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
}

#video {
    padding-right: 30px;
    padding-left: 30px;
}

#heading-home {
    font-family: Georgia, Serif;
    padding-top: 70px;
}

.btn {
    font-size: large;
}

.tag-form {
    padding-right: 50px;
    padding-left: 50px;
}


.tag-form input {
    max-width: 7em;
}

.tag-form textarea {
    max-height: 70px;
}

.table-responsive {
    padding-top: 10px;
    max-height: 440px;

}

.table {
    table-layout: fixed;
    margin: 0;
    border: cadetblue;
}

th.like, th.dislike, th.votes {
    width: 9%;
}

th.creator {
    width: 25%;
}

th.comments {
    width: 29%;
}

th.time {
    width: 19%;
}

.table tbody:nth-child(even) {
    background-color: #EBEBEB;
}

.table tr.outer-table:hover {
    background-color: darkgrey;
    cursor: pointer;
}

.button-view {
    font-size: 15px;
}

.video-responsive {
    overflow: hidden;
    padding-bottom: 61.25%;
    position: relative;
    height: 0;
    padding-top: 10px;

}

.video-responsive iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

#No-tags {
    padding-top: 20px;
}
