body {
    padding-top: 65px;
}

.navbar-form {
    padding-left: 50px;
    height: 10px;
}
.nav-item{
    font-size: large;
}
#video{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
}
#video-column{
    padding-right: 30px;
    padding-left: 30px;
}

.tag-form {
    padding-right: 50px;
    padding-left: 50px;
}

.btn{
    font-size: large;
}
#logo{
    width: 50px;
    height: auto;
}
#video-name {
    padding-right: 70px;
    padding-left: 25px;
}
.tag-form input {
    max-width: 7em;
}

.tag-form textarea {
    max-height: 70px;
}

.table-responsive {
    padding-top: 30px;
    max-height: 440px;

}


.table tbody tr:hover {
    background-color: darkgrey;
    cursor: pointer;
}



#video-youtube{
    padding-top: 30px;
    max-height: 450px;
    padding-left: 10px;
    padding-bottom: 10px;
}