.video-page {
    max-width: 93%
}

.tag-form {
    padding-right: 50px;
    padding-left: 50px;
}

.tag-form input {
    max-width: 7em;
}

.tag-form textarea {
    max-height: 70px;
}

.table-responsive {
    max-height: 440px;
    height: 100%;

}

.table {
    table-layout: fixed;
    margin: 0;
    height: 100%;
    /*border: cadetblue;*/
}

.parent{
    padding-top: 15px;
}


.fa-thumbs-down {
    color: gray;
}

.fa-thumbs-up {
    color: gray;
}

.active.fa-thumbs-down {
    color: orangered;
}

.active.fa-thumbs-up {
    color: dodgerblue;
}

.counter {
    width: 10px;
    text-align: center;
}

.inner-table {
    border-collapse: collapse;
    padding-top: 20px;
    padding-bottom: 0px;
    /*background: burlywood;*/
    /*border: aqua;*/
    margin: 0;
}

tr.inner-row {
    border: none;
    line-height: 12px;
}

td.description {
    word-wrap: break-word;
}

td.inner-td {
    border: none;
}
tbody.inner-table-body:hover{
    cursor: pointer;
    padding: 0px;

}
.clickable {
    cursor: pointer;
}

.inner-td {
    font-size: medium;
}
.inner-td.clickable:hover {
    color: cadetblue;
    font-weight: bold;
}

td.topnav{
    background-color: #b8b8b8;
    font-weight: lighter;
    color: white;
}

td.topnav.active{
    background-color: black;
    font-weight: bold;
    color: white;
}

td.topnav:hover{
    font-weight: bolder;
    cursor: pointer;
}

#allTagBody.inactive{
    display: none;
}

#myTagBody.inactive{
    display: none;
}

#allTagBody.active{
    background-color: azure;
}

#myTagBody.active{
    background-color: azure;
}

.display-none{
    display: none;
}

input[type=time]{
    min-width: 160px;
}
