<!DOCTYPE html>
{% extends "layout/base.html" %}
{% load embed_video_tags %}
{% block body_block %}
    <div class="container">
        <h1>Home</h1>
    </div>

<div class="container px-4">
<div class="p-3 mb-2 bg-light text-dark">
    {% for i in obj %}
        <div class = "container" id="video">
        <h1><a class = "btn btn-link" href="{% url 'videos:video' i.id %}" > {{ i.name }}} </a></h1>
        {% video i.video 'small' %}
            <p><span class="badge bg-secondary">{{ i.duration|time:'H:i:s' }}</span></p>
        </div>
    {% endfor %}
</div>
</div>

{% endblock %}


<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
-->
